<div class="form-group">
	<label class="control-label"><%= I18n.t("dict.name") %></label>
	<%= current_user.role_obj.name %>
</div>
<% unless current_user.is_pupil? %>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("dict.subject") %></label>
		<%= I18n.t("dict.#{current_user.role_obj.nil?? 'unknown': current_user.role_obj.subject}") %>
	</div>
<% end %>
<% if current_user.is_pupil? %>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("dict.sex") %></label>
		<%= I18n.t("dict.#{(current_user.role_obj.nil? || current_user.role_obj.sex.nil?)? 'unknown': current_user.role_obj.sex}")  %>
	</div>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("dict.grade") %></label>
		<%= I18n.t("dict.#{(current_user.role_obj.nil? || current_user.role_obj.grade.nil?)? 'unknown': current_user.role_obj.grade}")  %>
	</div>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("dict.classroom") %></label>
		<%= I18n.t("dict.#{(current_user.role_obj.nil? || current_user.role_obj.classroom.nil?)? 'unknown': @current_user.role_obj.classroom}")  %>
	</div>
<% end %>
<% unless current_user.is_analyzer? %>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("dict.tenant") %></label>
		<%= current_tenant.nil?? "": current_tenant.name_cn %>
	</div>
<% end %>

<div class="form-group">
	<label class="control-label"><%= I18n.t("activerecord.attributes.user.phone") %></label>
	<%= current_user.phone %>
</div>
<% if current_user.is_teacher? %>
	<div class="form-group">
		<label class="control-label"><%= I18n.t("activerecord.attributes.user.qq") %></label>
		<%= current_user.qq %>
	</div>
<% end %>
<div class="form-group">
	<label class="control-label"><%= I18n.t("activerecord.attributes.user.email") %></label>
	<%= current_user.email %>
</div>