<div class="form-group">
	<label class="control-label">姓名</label>
	<%= current_user.role_obj.name %>
</div>
<% unless current_user.is_pupil? %>
	<div class="form-group">
		<label class="control-label">学科</label>
		<%= current_user.role_obj.subject %>
	</div>
<% end %>
<% if current_user.is_pupil? %>
	<div class="form-group">
		<label class="control-label">性别</label>
		<%= current_user.role_obj.sex %>
	</div>
	<div class="form-group">
		<label class="control-label">年级</label>
		<%= current_user.role_obj.grade %>
	</div>
	<div class="form-group">
		<label class="control-label">班级</label>
		<%= current_user.role_obj.classroom %>
	</div>
<% end %>
<% unless current_user.is_analyzer? %>
	<div class="form-group">
		<label class="control-label">学校</label>
		<%= current_user.role_obj.school %>
	</div>
<% end %>

<div class="form-group">
	<label class="control-label">手机号</label>
	<%= current_user.phone %>
</div>
<% if current_user.is_teacher? %>
	<div class="form-group">
		<label class="control-label">QQ</label>
		<%= current_user.qq %>
	</div>
<% end %>
<div class="form-group">
	<label class="control-label">邮箱</label>
	<%= current_user.email %>
</div>