<% content_for :head do %>
	<%= stylesheet_link_tag 'managers/subject_checkpoints', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'managers/subject_checkpoints', 'jquery.remotipart', 'data-turbolinks-track' => true %>
<% end %>
<div class="shaixuan">
    <%=LABEL('dict.subject')%>
	<%= select_tag :subject, options_for_select(@subject_list), include_blank: true %>
	<%=LABEL('dict.xue_duan')%>:
	<%= select_tag :xue_duan, options_for_select(@xue_duan_list), include_blank: true %>

	<%= render 'import_form', path: import_ckp_file_managers_subject_checkpoints_path %>

</div>
<!--div id="wrap">
	<span id="knowledge_tree" class="ztree" style="display: block ; width: 30%; float: left;height: 650px; margin: 5px;"></span>
	<span id="skill_tree" class="ztree" style="display: block; width: 30%; float: left; height: 650px; margin: 5px;"></span>
	<span id="ability_tree" class="ztree" style="display: block; width: 30%; float: left;height: 650px;margin: 5px;"></span>
</div-->

<div id="wrap" class="easyui-tabs" style="width:99%;height:550px;margin: 5px;">
	<div title="<%=LABEL('dict.knowledge')%>" style="padding:10px">
		<span id="knowledge_tree" class="ztree" style="margin: 5px;"></span>
	</div>
	<div title="<%=LABEL('dict.skill')%>" style="padding:10px">
		<span id="skill_tree" class="ztree" style="margin: 5px;"></span>
	</div>
	<div title="<%=LABEL('dict.ability')%>" style="padding:10px">
		<span id="ability_tree" class="ztree" style="margin: 5px;"></span>
	</div>
</div>

<div id="dlg" class="easyui-dialog" title="录入表单"  style="width:600px;height:550px;padding:10px 10px" 
	data-options="iconCls:'icon-save',resizable:true,modal:false,closed:true,buttons:'#dlg-buttons'">
	<form id="fm" method="post">
		<div class="fcheckpoint">
			<label>ID：</label>
			<input name="id" type="text" class="ckp_uid" class="easyui-validatebox" disabled=true >
		</div>
		<div class="fcheckpoint">
			<label>RID：</label>
			<input name="rid" type="text" class="ckp_rid" class="easyui-validatebox" disabled=true >
		</div>
		<div class="fcheckpoint">
			<label>名称：</label>
			<input name="checkpoint" type="text" class="checkpoint" class="easyui-validatebox" required='required' >
		</div>
		<div class="weights">
			<label>权重：</label>
			<input type="text" name="weights" class="weights"/>
		</div>
		<div class="desc">
			<label>描述：</label>
			<input type="text" name="desc" class="desc"/>
		</div>
		<div class="desc">
			<label>建议：</label>
			<textarea type="text" name="advice" id="advice">
			</textarea>
		</div>

<!-- 		<div class="sort">
			<label>排序：</label>
			<input type="text" name="sort" id="sort"/>
		</div> -->
		<input type="hidden" name="id" class="ckp_uid"/>
		<input type="hidden" name="rid" class="ckp_rid"/>
		<input type="hidden" name="dimesion" class="dimesion"/>
		<input type="hidden" name="subject" class="subject"/>
		<input type="hidden" name="str_pid" class="str_pid"/>
		<input type="hidden" name="category" class="category"/>
		<input type="hidden" name="authenticity_token" class="authenticity_token">
	</form>
</div>
<div id="dlg-buttons">
	<a href="#" id="save" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
	<a href="#" id="cancel" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
