<div class="mainLeft fl">
	<div class="perInfor">
		<p>
			<%= image_tag "teach.png", class: "fl" %>
			<span class="fl"><%= current_user.name %>老师</span>
		</p>
	</div>
	<ul class="module_list f14">
		<% %w(users exam_papers quizs/quiz_list|quizs pupils online_tests sys_msgs).each do |page| %>
			<% 
				link, name = page.split('|') 
				name ||= link
			%>
			<li class="<%= 'per_active' if controller_name == link %>" onclick="url_to('/<%= link %>')">
				<a href="/<%= link %>"><%= t("page.user_left_menu.#{name}") %></a>
			</li>
		<% end %>
	</ul>
</div>