<div class="zhengjuang">
	<div class="container" >
		<!-- <div class="navColumn">
			<ul class="navList clearfix">
				<li class="active"><span class="text">1.上传试卷</span><span class="line">——</span></li>
				<li><span class="text">2.试卷信息</span><span class="line">——</span></li>
				<li><span class="text">3.单题切分</span><span class="line">——</span></li>
				<li><span class="text">4.单题解析</span><span class="line">——</span></li>
				<li><span class="text">5.解析结果</span></li>
			</ul>
		</div> -->
		<div class="contentBody"></div>
	</div>
</div>

<%= render partial: "papers/templates/detail" %>

<%= render partial: "papers/templates/paper_answer_upload" %>

<%= render partial: "papers/templates/basic_info" %>

<%= render partial: "papers/templates/quiz_split" %>

<%= render partial: "papers/templates/quiz_edit" %>

<%= render partial: "papers/templates/quiz_analyze" %>

<input id="node_uid" type="hidden">
<input id="pap_uid" type="hidden">
<input id="task_uid" type="hidden">
<input type="hidden" id="checkpoint_system">
<script type="text/javascript">
  var quiz_type_list = <%= raw quiz_type_list.to_json %>;
  var union_test_info_base = <%= @union_test_info_base.present? ? (raw @union_test_info_base) : "null" %>;
</script>
