
<th data-options="field:'uid',align:'center', width:'20%'">ID</th>
<th data-options="field:'version_cn',align:'center', width:'20%'">版本</th>
<th data-options="field:'subject_cn',align:'center', width:'5%'">科目</th>
<th data-options="field:'xue_duan_cn',align:'center', width:'5%'">学段</th>
<th data-options="field:'grade_cn',align:'center', width:'5%'">年级</th>
<th data-options="field:'term_cn',align:'center', width:'5%'">学期</th>

<th data-options="field:'operations',width:'auto',align:'center',formatter:formatOper">操作</th>

<%# content_for :content do %>
<!-- 	<div id="checkpoint_dialog"></div>
 --><%# end %>
		
<% content_for :form do %>
	<div style="margin:5px 0px 5px 15px;">
	  <label for="textbook_version_cn">教材简称</label>
	  <input class="easyui-validatebox" id="textbook_version_cn" name="version_cn" style="width:200px;" data-options="required:true">
	</div>

    <div style="margin:5px 0px 5px 15px;">
      <label><%=LABEL("activerecord.attributes.teacher.subject")%></label>
      <select class="easyui-combobox" id="textbook_subject" name="subject" style="width:200px;" data-options="required:true">
        <% subject_list.each do |k,v| %>
          <option value="<%=k%>"><%=v%></option>
        <% end %>
      </select>
    </div>

    <div style="margin:5px 0px 5px 15px;">
      <label for="textbook_grade"><%=LABEL("activerecord.attributes.pupil.grade")%></label>
      <select class="easyui-combobox" id="textbook_grade" name="grade" style="width:200px;"  data-options="required:true">
        <% grade_list.each do |k,v| %>
          <option value="<%=k%>"><%=v%></option>
        <% end %>
      </select>
    </div>

    <div style="margin:5px 0px 5px 15px;">
      <label for="textbook_term">学期</label>
      <select class="easyui-combobox" id="textbook_term" name="term" style="width:200px;"  data-options="required:true">
        <% term_list.each do |k,v| %>
          <option value="<%=k%>"><%=v%></option>
        <% end %>
      </select>
    </div>

<% end %>
<script type="text/javascript">
	function formatOper(val,row,index){
		var click_catalog_func = 'reopen(window.parent.$("#tabs"),"教材目录管理", "<%= page_info_item[:path] %>\/'+row["uid"]+'\/node_catalogs")';
    var click_checkpoint_func = 'reopen(window.parent.$("#tabs"),"教材及目录指标体系管理", "<%= page_info_item[:path] %>\/'+row["uid"]+'\/checkpoints")';
    var click_show_checkpoints_func = 'reopen(window.parent.$("#tabs"),"查看教材指标", "<%= page_info_item[:path] %>\/'+row["uid"]+'\/checkpoints/tree")';
		var link_str = "<a href='#'' onclick='" + click_catalog_func + "'>教材目录管理</a>&nbsp;";
		link_str += "<a href='#'' onclick='" + click_checkpoint_func + "'>教材指标管理</a>&nbsp;";
    link_str += "<a href='#'' onclick='" + click_show_checkpoints_func + "'>查看教材指标</a>";
		return link_str;
	} 
</script>