<div class="zy-report-container">
  <!--诊断报告头部 start-->
  <div class="zy-report-title clearfix" id="report_menus">
    <div class="dropdown_box grade-class-menu">
      <a class="classMenu" href="#">
          <span
          <% if current_user.is_teacher? %>
          class="report_menu_teacher"
          <% else %>
          class="report_click_menu"
          report_id="<%= @scope_menus[:report_id] %>"
          report_name="<%= @scope_menus[:report_name] %>"
          data_type="<%= @scope_menus[:data_type] %>"
          <% end %>
>
  <%= @scope_menus[:label] %>
          </span>
        <small><%= @scope_menus[:pupil_number] %></small>
      </a>
      <ul class="dropdown_menu">
        <% @scope_menus[:items].each do |klass| %>
            <li>
              <a class="report_click_menu" href="#"
                 report_id="<%= klass[:report_id] %>"
                 report_name="<%= klass[:report_name] %>"
                 data_type="<%= klass[:data_type] %>">
                <%= klass[:label] %>
              </a>
              <small><%= klass[:pupil_number] %></small>
              <ul class="submit_menu">
                <li class="title">
                  <div><b><%= I18n.t("dict.ge_ren_bao_gao") %></b></div>
                </li>
                <% klass[:items].each do |pupil| %>
                    <li class="report_click_menu"
                        report_id="<%= pupil[:report_id] %>"
                        report_name="<%= pupil[:report_name] %>"
                        data_type="<%= pupil[:data_type] %>">
                      <%= pupil[:label] %>
                    </li>
                <% end %>
              </ul>
        <% end %>
        </li>
      </ul>
    </div>
    <!--考试名称-->
    <div class="exam-name" id="reportName"></div>
  </div>
  <!--诊断报告头部 end-->
  <div id="reportContent" class="clearfix report-content" style="position: absolute;left: -9999px;"></div>
</div>

