<div class="easyui-tabs node_structure_ckp" style="width:90%;height:auto !important;height:100%;margin: 5px;">
	<div title="<%=LABEL('dict.knowledge')%>" style="padding:10px">
		<span id="<%= knowledge_tree_id %>" class="ztree" style="margin: 5px;"></span>
	</div>
	<div title="<%=LABEL('dict.skill')%>" style="padding:10px">
		<span id="<%= skill_tree_id %>" class="ztree" style="margin: 5px;"></span>
	</div>
	<div title="<%=LABEL('dict.ability')%>" style="padding:10px">
		<span id="<%= ability_tree_id %>" class="ztree" style="margin: 5px;"></span>
	</div>
</div>