<% content_for :head do %>
	<%= stylesheet_link_tag 'managers/checkpoints', 
		media: 'all', 
		'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'managers/node_subject_checkpoints', 'managers/node_structure_catalog', 'managers/selected_nodes_tree', 'managers/node_catalog_checkpoint_combination',
		'data-turbolinks-track' => true %>
<% end %>
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'west',split:true" 
		 title="教材目录总览" 
		 style="width:50%;padding:10px">
		<%= render '/managers/node_structures/catalog_tree' %>
	</div>
	<div data-options="region:'center',split:true" 
		 title="教材对应的学科知识指标"
	     style="width: 50%;padding:10px">
	    <%= render partial: '/managers/checkpoints/tree', 
					locals: {
						knowledge_tree_id: "managers_subejct_ckp_knowledge_tree",
						skill_tree_id: "managers_subejct_ckp_skill_tree",
						ability_tree_id: "managers_subejct_ckp_ability_tree"
					} 
	    %>
	</div>
	<div data-options="region:'south',split:true" 
         title="当前已选择目录及指标"
		 style="height:200px; text-align: center; vertical-align: top;">
		<%= render '/managers/checkpoints/combination_action' %>
	</div>
</div>
<script type="text/javascript">	
	var obj = new node_catalog_checkpoint_combination(
			"<%=raw (params[:node_structure_id].blank?? "":params[:node_structure_id])%>", 
			["<%=raw (params[:node_catalog_id].blank?? "":params[:node_catalog_id])%>"]
		);
    obj.init();
</script>