<%= extends :manager do %>
	<h2><%= page_info_item[:title] %></h2>
	<div style="margin:20px 0;"></div>
	<div id="tb">
<% unless ["permissions", "pupils"].include? controller_name %>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-add" plain="true" 
			onclick="newObj('<%= LABEL("common.create")%>','<%= page_info_item[:path] %>/');">
			<%= LABEL("common.create") %>
		</a> 
<% end %>
<% unless ["roles","permissions"].include? controller_name %>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-edit" 
			plain="true" 
			onclick="
<% if ["tenants", "analyzers", "teachers", "pupils", "tenant_administrators", "project_administrators", "area_administrators"].include? controller_name %>
        editObjWithArea('<%= page_info_item[:path] %>/')
<% else %>
		editObj('<%= page_info_item[:path] %>/')
<% end %>
		"><%= LABEL("common.edit")%></a>  
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-remove" 
			plain="true" 
			onclick="destroy('<%= page_info_item[:path] %>/')">
			<%= LABEL("common.delete")%>
		</a>
<% end %>
	</div>  
	<!-- singleSelect:true, 当行选择-->
	<table  id='dg' 
			class="easyui-datagrid" 
			title="<%= LABEL("common.list")%>" 
			style="width:98%;height:550px"
			data-options="		
				pagination:true,
				nowrap: false,
				url:'<%= page_info_item[:path] %>.json',
				method:'get', 
				toolbar: '#tb'">
		<thead>
			<tr>
<!-- 				<th field="ck" checkbox="false" width='5%'></th> -->
				<%= yield %>
			</tr>

		</thead>
	</table>
	<%= yield(:content) %>
	<div id="dlg" 
		class="easyui-dialog" 
		style="width:600px;height:400px;" 
		closed="true"
		buttons="#dlg-buttons">
		<%= form_tag '', id: 'fm' do  %>
			<input type="hidden" name="_method" id='manager_method' value="post" />
			<div id='other'>
				<%= yield(:form) %>
			</div>
		<% end %>
	</div>
	<div id="dlg-buttons">
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-ok" 
			onclick="saveObj()">
			<%= LABEL("common.save")%></a>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-cancel" 
			onclick="javascript:$('#dlg').dialog('close')">
			<%= LABEL("common.cancel")%></a>
	</div>
<% end %>
