<%= extends :manager do %>
	<h2><%= @data[:name] %></h2>
	<div style="margin:20px 0;"></div>
	<div id="tb">
<% unless ["permissions", "pupils"].include? controller_name %>
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newObj('<%= @data[:path] %>/');"><%= LABEL("page.add")%></a> 
<% end %>
<% unless ["roles","permissions"].include? controller_name %>
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="
<% if ["tenants", "analyzers", "teachers", "pupils"].include? controller_name %>
        editObjWithArea('<%= @data[:path] %>/')
<% else %>
		editObj('<%= @data[:path] %>/')
<% end %>
		"><%= LABEL("page.edit")%></a>  
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroy('<%= @data[:path] %>/')"><%= LABEL("page.del")%></a>
<% end %>
	</div>  
	<!-- singleSelect:true, 当行选择-->
	<table id='dg' class="easyui-datagrid" title="<%= @data[:name] %>列表" style="width:98%;height:550px"
		data-options="
		singleSelect:true,	
		pagination:true,
		nowrap: false,
		url:'<%= @data[:path] %>.json',
		method:'get', 
		toolbar: '#tb'">
		<thead>
			<tr>
<!-- 				<th field="ck" checkbox="false" width='5%'></th> -->
				<%= yield %>
			</tr>

		</thead>
	</table>
	<%= yield(:content) %>
	<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
		<div class="ftitle"><%= @data[:name] %>信息</div>
		<%= form_tag '', id: 'fm' do  %>
			<input type="hidden" name="_method" id='manager_method' value="post" />
			<div id='other'>
				<%= yield(:form) %>
			</div>
		<% end %>
	</div>
	<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveObj()"><%= LABEL("page.save")%></a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"><%= LABEL("page.cancel")%></a>
	</div>
<% end %>
