<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title ? "#{@page_title}-#{t('page.site_name')}" : t('page.site_name') %></title>
    <%= stylesheet_link_tag 'report', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'init_report', 'data-turbolinks-track' => true %>
    <%#= favicon_link_tag '/common/zy_logo.png' %>
    <%= yield(:header) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <%= yield %>
    <%#= render 'common/footer' %>
    <%= render 'shared/common_dialog' %>
  </body>
</html>
