<h1 class="panel-heading clearfix"><button class="btn btn-default edit" type="button"><i class="glyphicon glyphicon-pencil"></i>编辑</button>个人信息</h1>
<div class="panel-body">
	
	<%= render 'shared/user/upload_avatar' %>

	<div id="basicinfo-view">
		<div id="basicinfo" class="form-horizontal basicinfo">
			<%= render 'profiles/info' %>
		</div>
	</div>

	<div id="basicinfo-edit" style="display:none;">
		<%= simple_form_for(current_user.role_obj, url: save_info_profile_path, html: {class: 'form-horizontal basicinfo', method: :post}, remote: true) do |f| %>
			<%= f.input :name, label: '姓名' %>
			<%= f.input :subject, label: '科目' unless current_user.is_pupil? %>
			<%= f.input :grade, label: '年级' if current_user.is_pupil? %>
			<%= f.input :classroom, label: '班级' if current_user.is_pupil? %>
			<%= f.input :school, label: '学校' unless current_user.is_analyzer? %>
			<%= f.simple_fields_for :user do |u| %>
				<%= u.input :qq, label: 'QQ', required: false if current_user.is_teacher? %>
			<% end %>

			<div class="form-group">
				<%= f.button :submit, '保存' %>
			</div>
		<% end %>
	</div>
	<%= hidden_field_tag 'affirm' %>
</div>

