<h1 class="panel-heading clearfix"><button class="btn btn-default edit" type="button"><i class="glyphicon glyphicon-pencil"></i>编辑</button>个人信息</h1>
<div class="panel-body">
	
	<%= render 'shared/user/upload_avatar' %>

	<div id="basicinfo-view">
		<div id="basicinfo" class="form-horizontal basicinfo">
			<%= render 'profiles/info' %>
		</div>
	</div>

	<div id="basicinfo-edit" style="display:none;">
		<%= simple_form_for(current_user.role_obj, url: save_info_profile_path, html: {class: 'form-horizontal basicinfo', method: :post}, remote: true) do |f| %>
			<%= f.input :name, label: I18n.t("dict.name") %>
			<%= f.input :subject, 
			    label: I18n.t("dict.subject"), 
				collection: Common::Subject::List.map {|k,v| [v,k]}, 
			    selected: current_user.role_obj.subject unless current_user.is_pupil? %>
			<%= f.input :grade, 
			    label: I18n.t("dict.grade"),
                collection: Common::Locale::GradeList.map {|k,v| [v,k]},
			    selected: current_user.role_obj.grade if current_user.is_pupil? %>
			<%= f.input :classroom, 
			    label: I18n.t("dict.classroom"),
                collection: Common::Locale::KlassList.map {|k,v| [v,k]},
			    selected: current_user.role_obj.classroom if current_user.is_pupil? %>
			<%= f.input :school, label: I18n.t("dict.school") unless current_user.is_analyzer? %>
			<%= f.simple_fields_for :user do |u| %>
				<%= u.input :qq, label: I18n.t("activerecord.attributes.user.qq"), required: false if current_user.is_teacher? %>
			<% end %>

			<div class="form-group">
				<%= f.button :submit, I18n.t("page.common.save") %>
			</div>
		<% end %>
	</div>
	<%= hidden_field_tag 'affirm' %>
</div>

