<th data-options="field:'uid',align:'center', width:'20%'">ID</th>
<th data-options="field:'rid',align:'left', width:'20%'">章节</th>
<th data-options="field:'node',align:'left', width:'20%'">名称</th>
<th data-options="field:'ID',width:'40%',align:'center',formatter:formatOper">操作</th>

<% content_for :form do %>
	<div class="fsection_rid">
		<label>前一章节:</label>
		<%= select_tag :former_rid, options_for_select(@catalogs_options.clone.unshift({"rid" => ""}).map{|a| [a["rid"],a["rid"]]}) %>
	</div>

	<div class="fsection_rid">
		<label>后一章节:</label>
		<%= select_tag :later_rid, options_for_select(@catalogs_options.clone.unshift({"rid" => ""}).map{|a| [a["rid"],a["rid"]]}) %>
	</div>

	<div class="fnode">
		<label>名称:</label>
		<%= text_field_tag :node, '', class: 'easyui-validatebox', required: 'true' %>
	</div>

<% end %>
<script type="text/javascript">
	function formatOper(val,row,index){
   		var click_checkpoint_func = 'reopen(window.parent.$("#tabs"),"教材及目录指标体系管理", "<%= page_info_item[:path] %>\/'+row["uid"]+'\/checkpoints")';
   		var click_show_checkpoints_func = 'reopen(window.parent.$("#tabs"),"查看目录指标", "<%= page_info_item[:path] %>\/'+row["uid"]+'\/checkpoints/tree")';
		var link_str = "<a href='#'' onclick='" + click_checkpoint_func + "'>目录指标管理</a>&nbsp;";
		link_str += "<a href='#'' onclick='" + click_show_checkpoints_func + "'>查看目录指标</a>";
		return link_str;
	} 
</script>