<section>
  <dl class="clearfix">
    <dt><%= t('page.pupil.basic_info') %></dt>
    <dd class="container-fluid">
      <span style="float: left;">
      <ul>
      <!--ul class="list-inline" id="basic_info"-->
        <!--li class="col-md-4"-->
        <li>
         <label><%= t('activerecord.attributes.pupil.name') %>：</label>
         <%= @current_user.pupil.name%>
        </li>
        <li>
         <label><%= t('activerecord.attributes.pupil.grade') %>：</label>
         <%= @current_user.pupil.grade%>
        </li>
        <li>
         <label><%= t('activerecord.attributes.pupil.classroom') %>：</label>
         <%= @current_user.pupil.classroom%>
        </li>
        <li>
         <label><%= t('activerecord.attributes.pupil.school') %>：</label>
         <%= @current_user.pupil.school%>
        </li>
        <li>
         <label><%= t('activerecord.attributes.user.phone') %>：</label>
         <%= @current_user.phone%>
        </li>
        <li>
         <label><%= t('activerecord.attributes.user.qq') %>：</label>
         <%#= @current_user.qq%>
        </li>
      </ul>
      </span>
      <span style="float: right">
        <%= image_tag @current_user.image_upload.file.url if @current_user.image_upload && @current_user.image_upload.file  %>
        <form action='/users/head_image_upload' method='post' enctype='multipart/form-data'>
          <%= token_tag form_authenticity_token %>
          <input type="file" name="file"><br />
          <input type="submit" name="submit" value="upload">
        </form>
      </span>
    </dd>
  </dl>
</section>

