 <div class="modal-dialog modal-lg">
   <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <!-- 考察点 -->    
    <div id="inspect" class="clearfix">
     <h2><%= t('page.quiz.inspect_point') %></h2>
     <div id="table_knowledge" class="tabel">
      <div class="tree well">
        <ul>
          <li class="parent_li">
            <span><i class="icon-folder-open icon-minus-sign"></i> <%= "#{t('page.quiz.knowledge')}#{t('page.quiz.inspect_point')}" %></span>
            <ul>
              <%= raw organization_tree(@tree_data['knowledge']['children']) %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="table_skill" class="tabel">
      <div class="tree well">
        <ul>
          <li class="parent_li">
            <span><i class="icon-folder-open icon-minus-sign"></i> <%= "#{t('page.quiz.skill')}#{t('page.quiz.inspect_point')}" %></span>
            <ul>
              <%= raw organization_tree(@tree_data['skill']['children']) %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="table_capacity" class="tabel">
      <div class="tree well">
        <ul>
          <li class="parent_li">
            <span><i class="icon-folder-open icon-minus-sign"></i> <%= "#{t('page.quiz.ability')}#{t('page.quiz.inspect_point')}" %></span>
            <ul>
              <%= raw organization_tree(@tree_data['ability']['children']) %>              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('page.quiz.cancel') %></button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" id="button_analysis"><%= t('page.quiz.complete') %></button>
  </div>
</div>
</div>