<% @page_title = '试题入库' %>
<div id="testquestions" class="container">
  <h1>试题入库</h1>
  <%= form_for :bank_quiz_qiz, url: single_quiz_save_quizs_path, html: {id: 'form'} do |f| %>
  <%= hidden_field_tag :version_uid %>
  <section>
   <dl class="clearfix">
    <dt>基本信息</dt>
    <dd class="container-fluid">
     <ul class="list-inline" id="basic_info">
       <li class="col-md-4">
         <label>科目：</label>
         <%= select_tag :subject, options_for_select(@subjects), include_blank: '--', class: 'form-control', required: true %>         
       </li>
       <li class="col-md-4">
         <label>年级：</label>
         <%= select_tag :grade, '', include_blank: '--', class: 'form-control', required: true %>
       </li>
       <li class="col-md-4">
         <label>教材版本：</label>
         <%= select_tag :version, '', include_blank: '--', class: 'form-control', required: true %>
       </li>
       <li class="col-md-4">
         <label>题型：</label>
         <%= select_tag :cat, '', include_blank: '--', class: 'form-control', required: true %>
       </li>
       <li class="col-md-4">
         <label>难度预估：</label>
         <%= select_tag :levelword2, options_for_select(@difficulties), include_blank: true, class: 'form-control', required: true %>
       </li>
       <li class="col-md-12">
         <label>试题来源：</label>
         <input class="form-control" type="test" value="七年级英语在线测试_20160306001">
       </li>
       </ul>
     </dd>
   </dl>
 </section>

 <section>
   <dl class="clearfix">
    <dt>试题</dt>
    <dd class="container-fluid">
     <textarea class="form-control" name="text" rows="3" placeholder="请在此输入试题" id="TextArea1"></textarea>
   </dd>
 </dl>
 <dl class="clearfix">
  <dt>答案</dt>
  <dd class="container-fluid">
   <textarea class="form-control" name="answer" rows="3" placeholder="请在此输入答案" id="TextArea2"></textarea><br>
   <textarea class="form-control" name="desc" rows="2" placeholder="请在此输入答案说明（可选）"></textarea>
 </dd>
</dl>

<dl class="clearfix">
  <dt>分析</dt>
  <dd class="container-fluid">

    <div class="analyselist">
      <ul class="analyserow list-inline clearfix">
        <li class="del" style="display: none;"><a href="javascript:void();">&times;</a></li>
        <li class="first">
          <p>
          <label>得分点<span class="num"></span>：</label>
          <textarea class="form-control" name="bank_qizpoint_qzps[][answer]" rows="2" placeholder="得分点标准答案"></textarea>
          </p>
          <p>
            <label>小分：</label>
            <%= select_tag 'bank_qizpoint_qzps[][score]', options_for_select((1..5).to_a), class: 'form-control' %>
          </p>
          <p>
            <label>
              <input type="checkbox" id="inlineCheckbox1" class="qizpoint_type" value="option1" /> 主观题
              <input type="hidden" name="bank_qizpoint_qzps[][type]" value="option2" />
            </label>
            提示：默认为客观题
          </p>
        </li>
        <li class="line"></li>
        <li class="last">
          <label class="title">三维解析</label>
          <p>
            

            <span><label>知识：</label><input readonly  type="text" name="knowledge" class="form-control" placeholder="" data-toggle="modal" data-target=".bs-example-modal-lg"></span>
            <span><label>技能：</label><input readonly type="text" name="skill" class="form-control" placeholder="" data-toggle="modal" data-target=".bs-example-modal-lg"></span>
            <span><label>能力：</label><input readonly type="text" name="capacity" class="form-control" placeholder="" data-toggle="modal" data-target=".bs-example-modal-lg"></span>
          </p>
        </li>
      </ul>

    </div>
    <p class="add"><button class="btn btn-default" type="button"> <i>+</i> 添加</button></p>
    
  </dd>
</dl>
</section>

<footer class="confirm">
  <input class="btn btn-default" type="button" value="取消" onclick="url_to('<%= quiz_list_quizs_path %>');">
  <input class="btn btn-primary" type="button" value="完成" id="submit_form">
</footer>
<% end %>
</div>

<!-- 考察点弹出层 -->
<div id='myModal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   <%= render 'point_tree' %>
</div>
<div id='hidden_analysis' style='display: none'>
  <%= hidden_field_tag 'bank_qizpoint_qzps[][bank_checkpoint_ckps][][deimesion]' %>
  <%= hidden_field_tag 'bank_qizpoint_qzps[][bank_checkpoint_ckps][][rid]', '', class: 'dict_rid' %>
  <%= hidden_field_tag 'bank_qizpoint_qzps[][bank_checkpoint_ckps][][uid]' %>
  <%= hidden_field_tag 'bank_qizpoint_qzps[][bank_checkpoint_ckps][][checkpoint]' %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    var json_data = <%= raw @subjects_related_data.to_json %>;
    var quiz_types_data = <%= raw @quize_types.to_json %>;

    $("#subject").on("change", function(){

      var $grades = $("#grade")[0];
      var $versions = $("#version")[0];
      var $quiz_types = $("#cat")[0];

      if(this.value == ''){
        $($grades).find('option:gt(0)').remove();
        $($versions).find('option:gt(0)').remove();
        $($quiz_types).find('option:gt(0)').remove();
        return false;
      }      
      


      // grade and versions
      var grades = json_data[this.value], index = 0;
  
      $.each(grades.items, function(c, grade){

        // $.each(grade.items, function(k, v){
        //   if(index == 0) $versions.add(new Option(v.label, k));
        // });

        $grades.add(new Option(grade.label, c));
        index++;
      });

      // quize_type
      $.each(quiz_types_data[this.value], function(i, name) {
        $quiz_types.add(new Option(name.label, name.type));
      });

    });

    $("#grade").on("change", function(){
      var subject = $("#subject").val();

      var $versions = $("#basic_info select[name='version']");

      if(this.value == ""){
        $versions.find('option:gt(0)').remove();
        return false;
      }

      $versions.find('option:gt(0)').remove();
      
      $.each(json_data[subject].items[this.value].items, function(k, v){
        $versions.append('<option uid="' + v.node_uid + '" value="' + k +  '">' + v.label + '</option>')//new Option(v.label, k))
      })
    })


  }) 

</script>
