<div class="form-group">
	<label class="control-label"><%= I18n.t("dict.name") %></label>
	<%= current_user.role_obj.name %>
</div>
<div class="form-group">
	<label class="control-label"><%= I18n.t("dict.tenant") %></label>
	<%= current_user.role_obj.tenant.name_cn %>
</div>

<div class="form-group">
	<label class="control-label"><%= I18n.t("activerecord.attributes.user.qq") %></label>
	<%= current_user.qq %>
</div>

<div class="form-group">
	<label class="control-label"><%= I18n.t("activerecord.attributes.user.phone") %></label>
	<%= current_user.phone %>
</div>

<div class="form-group">
	<label class="control-label"><%= I18n.t("activerecord.attributes.user.email") %></label>
	<%= current_user.email %>
</div>