<% @page_title = t('page.user_left_menu.my_home') %>

<section>
	<div class="container clearfix">
		<!-- Nav tabs -->
		<%= render 'shared/user/left_menu' %>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" id="test">

				<div class="panel">

					  <!-- 我的老师 -->
					  <h1 class="panel-heading clearfix">
                        <div class="col-lg-4 input-group pull-right">
                            <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: '请输入老师姓名搜索' %>
                            <span class="input-group-btn" id='keyword_filter'>
                                <button class="btn btn-default" type="button"><i class="fa fa-search search"></i></button>
                            </span>
                        </div>
						  <%= LABEL("page.user_left_menu.my_teacher")%>
                      </h1>
					  <div class="panel-body">
                            
                            <table id="testtable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><%=LABEL("activerecord.attributes.user.name")%></th>
                                        <th><%=LABEL("activerecord.attributes.teacher.name")%></th>
                                        <th><%=LABEL("activerecord.attributes.teacher.subject")%></th>
                                        <th><%=LABEL("dict.head_teacher")%></th>
                                        <th><%=LABEL("page.teacher.subject_classroom_mapping")%></th>
                                        <th><%=LABEL("activerecord.attributes.user.email")%></th>
                                    </tr>
								</thead>
								<tbody>
<% @teachers.each do |teacher| %>
                                    <tr>
                                    	<td><%= teacher[:user_name] %></td>
                                    	<td><%= teacher["name"] %></td>
                                    	<td><%= LABEL("dict.#{teacher[:subject]}")%></td>
                                    	<td><%= teacher[:head_teacher]%></td>
                                    	<td><%= raw teacher[:subject_classrooms] %></td>
                                    	<td><%= teacher[:email] %></td>
                                    </tr>
<% end %>
								</tbody>
                            </table>

						  <nav class="text-center">
							  <%= paginate @teachers %>
						  </nav>
					  </div>

					 </div>


		</div>

	</div>

</div>
</section>