<th data-options="field:'number',align:'center', width:'5%'">编号</th>
<th data-options="field:'name_cn',align:'center', width:'10%'">名称</th>
<th data-options="field:'tenant_type_cn',align:'center', width:'5%'">类型</th>
<th data-options="field:'watchword',align:'center', width:'10%'">口号</th>
<th data-options="field:'build_at',align:'center', width:'10%'">创建于</th>
<th data-options="field:'address',align:'center', width:'10%'">地址</th>
<th data-options="field:'phone',align:'center', width:'10%'">电话</th>
<th data-options="field:'email',align:'center', width:'10%'">邮箱</th>
<th data-options="field:'web',align:'center', width:'10%'">主页</th>
<th data-options="field:'comment',align:'center', width:'10%'">备注</th>
<th data-options="field:'dt_update',align:'center', width:'10%'">更新时间</th>
<th data-options="field:'tenant_type',align:'center', width:'5%', hidden: true">type</th>
<th data-options="field:'province_rid',align:'center', width:'5%', hidden: true">province rid</th>
<th data-options="field:'city_rid',align:'center', width:'5%', hidden: true">city rid</th>
<th data-options="field:'district_rid',align:'center', width:'5%', hidden: true">district rid</th>

<% content_for :form do %>
	<div class="fname">
		<label>编号:</label>
		<%= text_field_tag :number, '', class: 'easyui-validatebox', :readonly => true%>
	</div>

    <%= render partial: "shared/manager/area_list" %>
	
	<div class="fname">
		<label>名称:</label>
		<%= text_field_tag :name_cn, '', class: 'easyui-validatebox', required: 'true' %>
	</div>
	<div class="fsubject_class">
		<label>类型:</label>
		<%= select_tag :tenant_type, options_from_collection_for_select(@type_list, 'key', 'value', "gong_ban_xue_xiao") %>
	</div>
	<div class="fsubject_class">
		<label>口号:</label>
		<%= text_field_tag :watchword, '', class: 'easyui-validatebox' %>
	</div>
	<div class="fsubject_class">
		<label>创建于:</label>
		<%= text_field_tag :build_at, '', class: 'easyui-validatebox'%>
	</div>
	<div class="fsubject_class">
		<label>地址:</label>
		<%= text_field_tag :address, '', class: 'easyui-validatebox'%>
	</div>
	<div class="fsubject_class">
		<label>电话:</label>
		<%= text_field_tag :phone, '', class: 'easyui-validatebox'%>
	</div>
	<div class="fsubject_class">
		<label>邮箱:</label>
		<%= text_field_tag :email, '', class: 'easyui-validatebox'%>
	</div>
	<div class="fsubject_class">
		<label>主页:</label>
		<%= text_field_tag :web, '', class: 'easyui-validatebox'%>
	</div>
	<div class="fsubject_class">
		<label>备注:</label>
		<%= text_field_tag :comment, '', class: 'easyui-validatebox'%>
	</div>
<% end %>