<div class="panel-body">
	<!--过滤检索区域-->
	<div class="matches">
		<form action="" id="data_filter" class="form-inline">
			<div class="form-group">
				<%= select_tag :grade, options_for_select(@grades, params[:grade]), include_blank: '全部年级', class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= select_tag :subject, options_for_select(@subjects, params[:subject]), include_blank: '全部科目', class: 'form-control' %>								
			</div>
			<div class="form-group">
				<%= select_tag :paper_status, options_for_select(@status, params[:paper_status]), include_blank: '全部状态', class: 'form-control' %>								
			</div>
			<div class="form-group area_position">
				<%= hidden_field_tag 'region', params[:region] %>
				<div class="area-section">
					<button class="area-text form-control" id="area-text">
						<%= @region.presence || '地区选择器' %>
					</button>
					<div class="section-box">
						<p class="top-btn-list" id="top-btn-list">
							<a class="province-btn active" href="##" >请选择</a>
							<a class="city-btn none" href="##">请选择</a>
							<a class="area-btn none" href="##">请选择</a>
						</p>
						<div class="section-page" id="section-page">
							<ul class="province-box">
							</ul>
							<ul class="city-box none">
							</ul>
							<ul class="area-box none">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$.get('/analyzers/region','',function(data){
						setAreaSelect(data);
						$('.area-section').hover(function(){
							$('.section-box').show();
						},function(){
							$('.section-box').hide();
						});
					});
				})
			</script>
		</form>
	</div>

	<!--列表-->
	<table id="testtable" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="title">试卷名称</th>
				<th class="status">试卷状态</th>
				<th class="updated">变更时间</th>
			</tr>
		</thead>
		<tbody>
			<% @papers.each do |paper| %>
			<tr>
				<td class="title">
					<a href="/papers/get_paper?pap_uid=<%=paper._id%>"><%= "#{paper.heading}-#{paper.subheading}".truncate(30) %></a>
<% if !paper.bank_tests[0] || paper.bank_tests[0].report_version.blank? %>					
					<%= link_to '[查看报告]', new_square_reports_path(pap_uid: paper.id), class: 'viewreport' if paper.is_completed? %>
<% else %>
					<%= link_to '[查看报告]', square_v1_1_reports_path(pap_uid: paper.id), class: 'viewreport' if paper.is_completed? %>
<% end %>
				</td>
				<td><%= t("papers.status.#{paper.paper_status}") %></td>
				<td class='updated'><%= paper.dt_update %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<nav class="text-center">
		<%= paginate @papers %>
	</nav>
</div>