<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title ? "#{@page_title}-#{t('page.site_name')}" : t('page.site_name') %></title>
    <link rel="stylesheet" type="text/css" href="<%= cdn_path('1.1') %>/report/report.css">   
    <%= yield(:header) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <%= yield %>
    <%#= render 'common/footer' %>
    <%= render 'shared/common_dialog' %>
  </body>
  <script src="<%= cdn_path('1.1') %>/report/init_report.js">
  </script>  
  <% report_init_h = report_init(@test_id) %>
  <script type="text/javascript">
    $(function () {
      setTimeout(function(){reportPage.init("<%= report_init_h[:root_group] %>", "<%= report_init_h[:root_url] %>", "<%= report_init_h[:paper_info_url] %>");}, 1000);
    })
  </script>

</html>
