<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title ? "#{@page_title}-#{t('page.site_name')}" : t('page.site_name') %></title>
    <link rel="stylesheet" type="text/css" href="http://<%= Common::SwtkConstants::CDNDomain %>/assets/<%= Common::SwtkConstants::CDNVersion1_0 %>/report/new_report.css">
    <%#= stylesheet_link_tag 'new_report', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'init_new_report', 'data-turbolinks-track' => true %>
    <%#= favicon_link_tag '/common/zy_logo.png' %>
    <%= yield(:header) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/top' %>
    <%= yield %>
    <%#= render 'common/footer' %>
    <%= render 'shared/common_dialog' %>
  </body>
  <script>
  //src="http://<%#= Common::SwtkConstants::CDNDomain %>/assets/<%#= Common::SwtkConstants::CDNVersion1_0 %>/report/init_new_report.js">
  </script>
  <%= javascript_include_tag '000016090/report/init_new_report', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'create_report', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $(function () {
      setTimeout(function(){reportPage.init();}, 1000);;
    })
  </script>

</html>
